.table-responsive {
  padding: 0;

  &::-webkit-scrollbar {
    overflow: hidden;
  }

  .pagination {
    @media (max-width: 576px) {
      justify-content: left;
    }

    @media (min-width: 577px) {
      justify-content: center;
    }

    span.sr-only {
      display: none;
    }

    li {
      margin-right: 0.5rem;

      &:last-of-type {
        margin-right: 0;
      }

      .page-link:focus {
        outline: none;
        box-shadow: none !important;
      }
    }
  }
}
