.pagination {
  overflow-x: scroll;
  padding-left: 40%;

  &::-webkit-scrollbar {
    overflow: hidden;
  }

  @media (min-width: 411px) {
    padding-left: 20%;
  }

  @media (min-width: 768px) {
    padding-left: 0;
  }

  li:first-of-type,
  li:last-of-type,
  span.sr-only {
    display: none;
  }

  li {
    margin-right: 8px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
