.pagination {
  @media (max-width: 768px) {
    overflow-x: scroll;
    padding-left: 40%;

    .pagination::-webkit-scrollbar {
      display: none;
    }
  }

  li:first-of-type,
  li:last-of-type,
  span.sr-only {
    display: none;
  }

  li {
    margin-right: 8px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
