.categories {
  &-select {
    padding: 20px 0 0 0;

    @media (min-width: 992px) {
      display: flex;
      padding-top: 8px;
    }

    .btn {
      margin-right: 1rem;

      &:last-of-type {
        margin-right: 0;
      }
    }

    p.paragraph {
      margin: 0;
    }
  }
}
