.categories {
  &-select {
    padding: 1.25rem 0 0 0;
    display: flex;
    overflow-x: scroll;

    @media (min-width: 992px) {
      overflow: hidden;
      padding-top: 0.5rem;
    }

    .btn {
      margin-right: 1rem;

      &:last-of-type {
        margin-right: 0;
      }
    }

    p.paragraph {
      margin: 0;
    }
  }
  h1 {
    @media (max-width: 600px) {
      text-align: center;
      font-size: 2.25rem;
    }
  }
}
