.stepper {
  color: #000000;
  &-info {
    &-heading {
      font-weight: 500;
    }
  }

  .column {
    @media (min-width: 992px) {
      width: 20%;
    }

    .icon {
      display: none;

      @media (min-width: 992px) {
        position: relative;
        top: -74%;
        right: -94%;
        display: block;
      }
    }
  }

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #017865;
    width: 120px;
    height: 120px;
    border-radius: 1.875rem;
  }

  &-content {
    h4 {
      font-family: "DM Sans", sans-serif;
      margin: 0.9375rem auto 0.5rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 0.9375rem;

      @media (min-width: 992px) {
        font-size: 1.125rem;
        margin-bottom: 0;
      }
    }
  }
}
