.product {
  color: #000000;
  &-wrapper {
    text-align: center;

    @media (min-width: 992px) {
      position: relative;
    }

    .paragraph {
      @media (max-width: 576px) {
        margin-bottom: 0.75rem;
      }
    }

    .see-all {
      @media (min-width: 992px) {
        position: absolute;
        top: 10%;
        right: 0;
      }

      &-btn {
        @media (max-width: 578px) {
          font-size: 1rem;
        }
      }

      &-btn > svg {
        margin-top: -0.125rem;
        height: 15px;
      }
    }
  }
}
