.card {
  margin-bottom: 30px;
  @media (min-width: 992px) {
    margin-bottom: 50px;
  }

  .product-title {
    display: flex;
    justify-content: space-between;

    h5 {
      font-weight: 600;
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0;
      color: #017865;
      text-align: left;
      font-size: 0.975rem;
    }

    svg {
      width: 25px;
    }
  }
}
