.about {
  @media (min-width: 992px) {
    height: 542px;
  }

  .wrapper-image-about {
    position: relative;
    left: -0.75rem;
    margin-top: 15%;

    @media (min-width: 992px) {
      position: absolute;
      margin-top: 0;
      left: 0;
    }

    .image-about {
      border-radius: 0 0.625rem 0.625rem 0;

      @media (min-width: 992px) {
        width: 550px;
      }

      img {
        border-radius: inherit;
      }
    }
  }

  &-info {
    padding-top: 1.25rem;

    @media (min-width: 992px) {
      padding-top: 4.0625rem;
      margin-left: -3.125rem;
    }

    .paragraph {
      text-align: justify;

      @media (max-width: 576px) {
        line-break: anywhere;
        font-size: 1.125rem;
      }
    }
  }
  .read-more {
    display: flex;
    align-items: center;

    .line {
      width: 80px;
      height: 3px;
      background-color: #fe9502;
      border-radius: 1.5px;
      display: flex;
    }

    &-btn {
      margin-top: -0.3125rem;
      font-weight: 600;
      padding-left: 1.25rem;

      @media (max-width: 576px) {
        margin-top: 0;
        font-size: 1rem;
      }
    }
  }
}
