.breadcrumb {
  background-color: #e5e5e5;
  border-radius: 0;
  height: 50px;

  @media (min-width: 992px) {
    padding-left: 9%;
  }

  li.breadcrumb-item::before {
    float: none;
  }

  &-item {
    margin: auto 0;

    a {
      color: #808080;
    }

    .btn {
      padding: 0.1875rem 0.75rem 0.375rem;
    }
  }
}
