.input-text {
  width: 100%;
  margin-bottom: 20px;

  .input-group {
    background-color: #ffffff;
    border-radius: 4px;

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      color: #8a9095;
      font-family: "Assistant", sans-serif;
    }

    .form-control {
      border-radius: 12px;
      border-color: #ced4da;
      box-shadow: none;
      background-color: #e9ecef;
      padding: 0.575rem 20px;
      height: 60px;

      &::placeholder {
        color: #adb5bd;
      }
    }
  }
}
