.hero {
  z-index: -1;
  color: #000000;
  @media (min-width: 992px) {
    margin-bottom: 12.5rem;
  }

  &-info {
    @media (min-width: 992px) {
      padding-top: 5rem;
    }

    &-heading {
      font-weight: 500;
      line-height: 3.625rem;
      font-size: 2.5rem;

      @media (min-width: 992px) {
        text-align: start;
        line-height: 4.875rem;
        font-size: 3.75rem;
      }
    }
    .paragraph {
      @media (min-width: 992px) {
        font-size: 1.75rem;
        margin-bottom: 3.125rem;
      }
    }
  }

  .btn-shop {
    font-weight: 600;
    padding: 0.625rem 1.25rem;
    background-color: #017865;
    color: #ffffff;
  }

  .wrapper-image-hero {
    right: -0.75rem;
    margin-top: 3.125rem;
    margin-right: 0;
    border-radius: 0.9375rem 0 0 0.9375rem;
    height: 331px;

    @media (min-width: 992px) {
      position: absolute;
      right: 0;
      width: 670px;
      height: 540px;
      margin-top: 0;
    }

    .img-wrapper {
      border-radius: inherit;
    }
  }

  .icon-elipse1 {
    position: absolute;
    background-color: #fe9502;
    border-radius: 50%;
    display: none;

    @media (min-width: 992px) {
      display: block;
      width: 50px;
      height: 50px;
      bottom: 22%;
      left: 48.6%;
    }

    .icon-surface {
      position: relative;

      @media (min-width: 992px) {
        padding: 0.625rem;
        top: 0;
        left: 0;
      }
    }
  }
  .icon-elipse2 {
    position: absolute;
    background-color: #fe9502;
    border-radius: 50%;
    display: none;

    @media (min-width: 992px) {
      width: 60px;
      height: 60px;
      bottom: -10.5%;
      left: 54.5%;
      display: block;
    }

    .icon-like {
      position: relative;

      @media (min-width: 992px) {
        padding: 1.125rem;
        top: -0.625rem;
        left: -9.8px;
      }
    }
  }
}
